//import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// fonts
$font_principal: 'Raleway', sans-serif;;

// Groß von Media Queries
$telefon: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$black: #000000;
$yellow: #264653;;
$green: #1c6e5d;
$white: #FFFFFF;
$grey: #e1e1e1;
$greyLight: #F8F9FA;
$greyDark: #333333;
$greyLight2: #4c4b4b;
$red: #B02A27;
$darkBlue: #1C2C39;

$separation: 5rem;

// fonts
$thin: 300;
$regular : 400;
$bold: 700;
$black: 900